{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block head_title %}Welcome - Sleepify{% endblock %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="/media/icons/favicon.ico"/>

    <!-- custom google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="{% static "bootstrap-3.3.7-custom/css/bootstrap.min.css" %}" rel="stylesheet">
    {#    <link href="{% static "bootstrap-themes/bootstrap-darkly.min.css" %}" rel="stylesheet">#}
    {% bootstrap_javascript %}

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom overriding bootstrap parameters -->
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            height: 100%;
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #101010;
            color: #FFFFFF;
        }

        @media (min-width: 979px) {
            ul.nav li.dropdown:hover > ul.dropdown-menu {
                display: block;
            }

            .container-fluid {
                padding-left: 60px;
                padding-right: 60px;
            }
        }
    </style>

    <!-- http://stackoverflow.com/questions/8878033/how-to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click -->

    <!-- allauth template stuff -->
    {% block extra_head %}
    {% endblock %}

    <!-- script to set current navbar id as active -->
    {% block set_navbar_active %}
    {% endblock %}


    {% block extra_javascript %}
    {% endblock %}

    <!-- javascript for making login modal pop up -->
    <script type="text/javascript">
        function show_login_modal() {
            $('#myLoginModal').modal('show')
        }
        function hide_login_modal() {
            $('#myLoginModal').modal('hide')
        }
    </script>

    {% if login %}
        <script type="text/javascript">
            $(window).load(function () {
                $('#myLoginModal').modal('show');
            });
        </script>
    {% endif %}

</head>

<body class="body" style="background-color:#f6f6f6">

<nav class="navbar navbar-inverse" style="margin-bottom: 0em; border-radius: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/media/img/logo_inverted.png" alt="Brand"
                     style="max-width: 100px; margin-top: -10px; height: 200%; width: auto;">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home" class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>

                {% if user.is_authenticated %}
                    <li id="profile" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">My Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/myaccount/profile">My Details</a></li>
                            <li><a href="/myaccount/preferences">My Preferences</a></li>
                            <li><a href="/accounts/social/connections">My Social Accounts</a></li>
                        </ul>
                    </li>
                    <li id="stats"><a href="/myaccount/statistics/">My Statistics</a></li>
                    <li id="MLBlock"><a href="/ml">Upload Raw Data</a></li>
                {% endif %}

            </ul>
            <!--
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Doesn't do anything...">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li id="about"><a href="/about/">About</a></li>
                <li id="download"><a href="/download/">Download</a></li>
                <li id="contact"><a href="/contact/">Contact</a></li>
                <li id="help"><a href="/docs/">Documentation</a></li>
                <li id="privacy"><a href="/privacy/">Privacy Policy</a></li>

                <div class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger navbar-btn" data-toggle="modal"
                                    data-target=".modal">
                                Logout
                            </button>
                        </form>

                    {% else %}
                        <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal"
                                data-target=".modal">
                            Login / Register
                        </button>
                    {% endif %}
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade bs-example-modal-sm" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div> <!-- /.modal-header -->

            <div class="modal-body">

                <form id="login_form" method="post" class="login" action="{% url 'account_login' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="login" value="" placeholder="Login">
                            <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" value="" placeholder="Password">
                            <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                        </div>
                    </div>


                    <div class="checkbox">
                        <label><input name="remember" type="checkbox">Remember me</label>
                    </div>

                    <button class="form-control btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Login
                    </button>

                </form>

            </div> <!-- /.modal-body -->

            <div class="modal-footer">
                <p><a href="{% url 'account_signup' %}">I want to register.</a></p>
                <p><a href="{% url 'account_reset_password' %}">I forgot my password.</a></p>
            </div> <!-- /.modal-footer -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% block jumbotron %}
{% endblock %}

<div class="container-fluid" style="min-height:95%; ">
    <div class="row">

        {% block quick_stats %}
            {% if user.is_authenticated %}
                <div class="col-sm-2">
                    <br>

                    <br>
                    <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
                        <ul class="nav nav-pills nav-stacked">
                            <h3>Live Data</h3>

                            You are logged in as: <a href="/myaccount/profile/">{{ current_user }}</a> <br/>
                            Refresh Interval: 10 minutes

                            <h5>Heartrate</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="{{ mean_hr.current }}" aria-valuemin="{{ mean_hr.min }}"
                                     aria-valuemax="{{ mean_hr.max }}"
                                     style="width: {{ mean_hr.width }}%; min-width: 2em; max-width: 100%">
                                    {{ mean_hr.current }}
                                </div>
                            </div>

                            <h5>RR</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-success active"
                                     role="progressbar"
                                     aria-valuenow="{{ mean_rr.current }}" aria-valuemin="{{ mean_rr.min }}"
                                     aria-valuemax="{{ mean_rr.max }}"
                                     style="width: {{ mean_rr.width }}%; min-width: 2em; max-width: 100%">
                                    {{ mean_rr.current }}
                                </div>
                            </div>

                            <h5>GSR</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-info active"
                                     role="progressbar"
                                     aria-valuenow="{{ mean_gsr.current }}" aria-valuemin="{{ mean_gsr.min }}"
                                     aria-valuemax="{{ mean_gsr.max }}"
                                     style="width: {{ mean_gsr.width }}%; min-width: 2em; max-width: 100%">
                                    {{ mean_gsr.current }}
                                </div>
                            </div>

                            <h5>Temperature</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-warning active"
                                     role="progressbar"
                                     aria-valuenow="{{ mean_temp.current }}" aria-valuemin="{{ mean_temp.min }}"
                                     aria-valuemax="{{ mean_temp.max }}"
                                     style="width: {{ mean_temp.width }}%; min-width: 2em; max-width: 100%">
                                    {{ mean_temp.current }}
                                </div>
                            </div>

                            <h5>Acceleration</h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-danger active"
                                     role="progressbar"
                                     aria-valuenow="{{ mean_acc.current }}" aria-valuemin="{{ mean_acc.min }}"
                                     aria-valuemax="{{ mean_acc.max }}"
                                     style="width: {{ mean_acc.width }}%; min-width: 2em; max-width: 100%">
                                    {{ mean_acc.current }}
                                </div>
                            </div>

                        </ul>
                    </div> <!--well bs-sidebar affix-->

                </div> <!--col-sm-2-->
                <div class="col-sm-10">
            {% else %}
                <div class="col-sm-12">
            {% endif %}

        {% endblock %}
        <div class="container-fluid">
            <br/>
            {% block body %}

                {% bootstrap_messages %}

                {% block content %}
                {% endblock %}

            {% endblock %}

            {% block extra_body %}
            {% endblock %}

        </div>
        </div>
        </div>
    </div>


    <footer class="footer">
        <p align="right">
            ©{% now "Y" %} Sleepify. All rights reserved. | <a href="http://sleepify.zapto.org/">http://sleepify.zapto.org</a> | Powered by Django and Bootstrap | Created
            with love from the United Kingdom | Images from DeathToTheStockPhoto &nbsp;&nbsp;
        </p>
    </footer>

</body>

</html>