{% extends "personal/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block head_title %}
    Download - Sleepify
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#download").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>Download</h1>
            <p>Get and compile our project. Then pretend you made it. Nah, don't do that.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Download instructions</h1>
    <ul class="list-group">
        <li class="list-group-item">Get iOS app</li>
        <li class="list-group-item">Register an account <a href="http://sleepify.zapto.org/accounts/signup/">here</a></li>
        <li class="list-group-item">Start using the app with an existing Microsoft Band 2</li>
    </ul>

    <br/><br/>

    <h1>Custom download and compile instructions</h1>
    <ul class="list-group">
        <li class="list-group-item">Clone GitHub respository using <code><kbd>git clone
            https://github.com/jeremych1000/ee4-mhml</kbd> </code></li>
        <li class="list-group-item">Setup web server with <code>software/web_interface/get_pip_stuff.cmd</code></li>
        <li class="list-group-item">Run web server using <code><kbd>cd software/web_interface; python manage.py
            runserver 0.0.0.0:80</kbd> </code></li>
    </ul>
{% endblock %}