{% extends "personal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>Register an account</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
    <h1><a href="/">Register</a></h1>
    {% if registered %} <!-- from variable in views.py -->
        <strong>Thank you for registering!</strong>
        <a href="/">Return to the homepage.</a>
        <br />
    {% else %}
        <strong>Register here!</strong>

        <form id="user_form" method="post" action="/accounts/register/" enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            <br /><br/>
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>

        {% bootstrap_form user_form %}

    {% endif %}
{% endblock %}