{% extends "personal/base.html" %}
{% load bootstrap3 %}


{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#contact").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>Contact Us!</h1>
            <p>Get in touch with us using a variety of methods.</p>
            <p><a class="btn btn-primary btn-lg" href="mailto:jc4913@ic.ac.uk" role="button">I'm feeling lucky!</a></p>
        </div>
    </div>
{% endblock %}


{% block content %}
{% bootstrap_messages %}
    {% if details %}
        {% for i in details %}
            <p>{{ i.name }} can be contacted at <a href="mailto:{{ i.email }}">{{ i.email }}</a>.</p>
        {% endfor %}
    {% else %}
        <p>There are no contacts to display.</p>
    {% endif %}

{% endblock %}