{% extends "personal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head_title %}
    My Preferences - Sleepify
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#profile").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>Profile Management</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %} <!-- from variable in views.py -->

        <h1>Add your calendar</h1>
        <p>The calendar should be accessible via the web, and be in the iCalendar format (.ics).</p>
        {% if link %}
            <p>Your existing calendar link is: <a href="{{ link }}">{{ link }}</a></p>
        {% endif %}

        <form id="login_form" method="post" action="/myaccount/calendar/add/">
            {% csrf_token %}
            {% bootstrap_form cal_form %}
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
        </form>

    {% else %}

        <p>You are not authenticated, please login!</p>

    {% endif %}
{% endblock %}