{% extends "personal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head_title %}
    My Details - Sleepify
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#stats").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block extra_javascript %}
    <script>
        $(document).ready(function () {
            $("#nav_tab_1d").addClass("active");
        });
    </script>

    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="{% static "js/d3_graph.js" %}"></script>

    <style> /* set the CSS */

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 56px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }

    </style>

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>My Statistics</h1>
            <p>Track your sleep. Pretend you're the NSA.</p>
        </div>
    </div>
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        <h1>Your statistics</h1>

        <ul class="nav nav-tabs nav-justified">
            <li class="nav active" id="nav_tab_1d"><a href="#1d" data-toggle="tab">Last 1 Day</a></li>
            <li class="nav" id="nav_tab_3d"><a href="#3d" data-toggle="tab">Last 3 Days</a></li>
            <li class="nav" id="nav_tab_1w"><a href="#1w" data-toggle="tab">Last Week</a></li>
            <li class="nav" id="nav_tab_1m"><a href="#1m" data-toggle="tab">Last Month</a></li>
            <li class="nav" id="nav_tab_1y"><a href="#1y" data-toggle="tab">Last Year</a></li>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
            <br/>
            <div class="tab-pane fade in active" id="1d">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div id="{{ i.url }}_graph_1d" class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <script>plotLineChart(1, "{{ i.url}}", "{{i.url}}_graph_1d")</script>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/last/1/{{ i.url }}/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/last/1/{{ i.url }}/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="3d">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div id="{{ i.url }}_graph_3d" class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <script>plotLineChart(3, "{{ i.url}}", "{{i.url}}_graph_3d")</script>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/last/3/{{ i.url }}/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/last/3/{{ i.url }}/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1w">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div id="{{ i.url }}_graph_1w" class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <script>plotLineChart(7, "{{ i.url}}", "{{i.url}}_graph_1w")</script>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/last/7/{{ i.url }}/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/last/7/{{ i.url }}/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1m">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div id="{{ i.url }}_graph_1m" class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <script>plotLineChart(30, "{{ i.url}}", "{{i.url}}_graph_1m")</script>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/last/30/{{ i.url }}/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/last/30/{{ i.url }}/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1y">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div id="{{ i.url }}_graph_1y" class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <script>plotLineChart(365, "{{ i.url}}", "{{i.url}}_graph_1y")</script>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/last/365/{{ i.url }}/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/last/365/{{ i.url }}/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}

        <p>You must be logged in to view this page.</p>

    {% endif %}


{% endblock %}