{% extends "personal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head_title %}
    My Details - Sleepify
{% endblock %}

{% block set_navbar_active %}
    <script>
        $(document).ready(function () {
            $(".nav li").removeClass("active");
            $(".nav li#stats").addClass("active");//this will remove the active class from
            //previously active menu item
        });
    </script>
{% endblock %}

{% block extra_javascript %}
    <script>
        $(document).ready(function () {
            $("#nav_tab_hr").addClass("active");
        });
    </script>
{% endblock %}s

{% block jumbotron %}
    <div class="jumbotron"
         style="
            height: 25em;
            padding-top: 5em;
            margin-bottom: 1em;
            background-image: url('/media/img/jumbotron.jpg');
            background-size: cover;
            color: #ffffff;
            text-align: center;
            ">
        <div class="container">
            <h1>My Statistics</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <h1>Your statistics</h1>

        <ul class="nav nav-tabs nav-justified">
            <li class="nav active" id="nav_tab_hr"><a href="#1d" data-toggle="tab">Last 1 Day</a></li>
            <li class="nav" id="nav_tab_rr"><a href="#3d" data-toggle="tab">Last 3 Days</a></li>
            <li class="nav" id="nav_tab_gsr"><a href="#1w" data-toggle="tab">Last Week</a></li>
            <li class="nav" id="nav_tab_temp"><a href="#1m" data-toggle="tab">Last Month</a></li>
            <li class="nav" id="nav_tab_acc"><a href="#1y" data-toggle="tab">Last Year</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <br/>
            <div class="tab-pane fade in active" id="1d">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/1/graph/" alt="...">
                                <div class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/1/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/1/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="3d">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/3/graph/" alt="...">
                                <div class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/3/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/3/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1w">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/7/graph/" alt="...">
                                <div class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/7/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/7/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1m">
               <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/30/graph/" alt="...">
                                <div class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/30/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/30/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="1y">
                <div class="row">
                    {% for i in data %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/365/graph/" alt="...">
                                <div class="caption">
                                    <h3>{{ i.title }}</h3>
                                    <p>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/365/graph/?dl"
                                           class="btn btn-primary" role="button" target="_blank">Download</a>
                                        <a href="http://sleepify.zapto.org/api/stats/{{ i.url }}/last/365/?format=json"
                                           class="btn btn-default" role="button" target="_blank">Get raw data</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}

        <p>You must be logged in to view this page.</p>

    {% endif %}

{% endblock %}